@import url("https://i.pinimg.com/564x/31/0e/c4/310ec46a2f146ca99abbbf4015c5389f.jpg");


body {
  background-image: url('https://i.pinimg.com/564x/31/0e/c4/310ec46a2f146ca99abbbf4015c5389f.jpg');

}


h3,
label,
p {
  background-color: #ffffff; 
}


h3 {
  color: black;

}


.card {
  margin-top: 1rem;

}
#dontKnowTupac {
  background-color: #808080;
}
#likeTupac {
  background-color: #808080;
}